<!DOCTYPE html>
<html>
    <head>
        <title>Hair Salon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron" id="title">
                    <h1>Hair Salon</h1>
                    <div class="nav-bar">
                        <label><a href="/clients">back to clients</a></label>
                        <label><a href="/stylists">back to stylists</a></label>
                        <label><a href="/">back to home</a></label>
                    </div>

                </div>
            </div>
            <!-- row  -->
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron" id="left">
                        <h3>{{ client.getName }}</h3>
                        <ul>
                            <li>id: {{ client.getId }}</li>
                            <li>assigned stylist:
                                <a href="/stylists/{{ assigned_stylist.getId }}">{{ assigned_stylist.getName }}</a></li>
                            <ul>
                            </ul></li>

                        </ul>

                    </div>
                    <!-- jumbotron -->
                </div>
                <!-- left column -->
                <div class="col-md-6">
                    <div class="jumbotron" id="right">
                        <h3>Update Client</h3>
                        <form class="black" action="/clients/{{ client.getId }}" method="post">
                            <input name="_method" type="hidden" value="patch" required>
                            <label class="white"for="new_name">Client New Name:</label><br>
                            <input type="text" name="new_name" value=""><br>
                            <button type="submit" name="update-client">Submit</button>
                        </form>
                        <h3>Delete Client</h3>
                        <form class="black" action="/clients/terminate/{{ client.getId }}" method="post">
                            <input name="_method" type="hidden" value="delete" required>
                            <button type="submit" class="btn button-danger black" name="button">Delete This Client</button>
                        </form>
                        <!-- create form -->
                    </div>
                    <!-- jumbotron -->
                </div>
                <!-- right column -->
            </div>
            <!-- row -->
        </div>
    </body>
</html>
