<!DOCTYPE html>
<html>
    <head>
        <title>Hair Salon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron" id="title">
                    <button class="white nav"><a href="/clients">back to clients</a></button>
                    <button class="white nav"><a href="/stylists">back to stylists</a></button>
                    <button class="white nav"><a href="/">back to home</a></button>
                    <h1>Hair Salon</h1>
                </div>
            </div>
            <!-- row  -->
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron" id="left">
                        <h3><a href="/clients">Clients</a></h3>
                        {% if clients is not empty %}
                                {% for client in clients %}
                                <ul>
                                <li> name: <a href="/clients/{{ client.getId }}">{{ client.getName }}</a></li>
                                <li> id: {{ client.getId }}</li>
                                </ul>
                                {% endfor %}
                        {% else %}
                        <p>No Stylists Registered.</p>
                        {% endif %}
                    </div>
                    <!-- jumbotron -->
                </div>
                <!-- left column -->
                <div class="col-md-6" >
                    <div id="form">
                        <div class="jumbotron" id="right">
                            <h3>Register New Client</h3>
                            <form class="black" action="/clients" method="post">
                                <label class="white" for="client_name">Client name:</label><br>
                                <input type="text" name="client_name" value=""><br>
                                {% if stylists is not empty %}
                                <select name="stylist_id">
                                    {% for stylist in stylists %}
                                        <option value="{{stylist.getId}}">{{stylist.getName}}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                                <button type="submit" name="register-client">Submit</button>
                            </form>
                            <h3>Delete All</h3>
                            <form class="black" action="/clients" method="post">
                            <input name="_method" type="hidden" value="delete" required>
                            <button type="submit" class="btn button-danger" name="button">Delete All Clients.</button>
                            </form>
                            <!-- create form -->
                        </div>
                        <!-- jumbotron -->
                    </div>
                    <!-- form -->
                </div>
                <!-- right column -->
            </div>
            <!-- row -->
        </div>
    </body>
</html>
