<!DOCTYPE html>
<html>
    <head>
        <title>Hair Salon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='/css/styles.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="jumbotron" id="title">
                    <h1>Hair Salon</h1>
                    <label><a href="/clients">back to clients</a></label><br>
                    <label><a href="/stylists">back to stylists</a></label><br>
                    <label><a href="/">back to home</a></label>
                </div>
            </div>
            <!-- row  -->
            <div class="row">
                <div class="col-md-6">
                    <div class="jumbotron" id="left">
                        <h3>{{ stylist.getName }}</h3>
                        <ul>
                            <li>id: {{ stylist.getId }}</li>
                            {% if assigned_clients is not empty %}
                            <li>assigned clients:
                                <ul>
                                    {% for client in assigned_clients %}
                                        <li><a href="/clients/{{ client.getId }}">{{ client.getName }}</a> </li>
                                    {% endfor %}
                                </ul></li>

                            {% endif %}

                        </ul>

                    </div>
                    <!-- jumbotron -->
                </div>
                <!-- left column -->
                <div class="col-md-6">
                    <div class="jumbotron" id="right">
                        <h3>Update Stylist</h3>
                        <form action="/stylists/{{ stylist.getId }}" method="post">
                            <input name="_method" type="hidden" value="patch" required>
                            <label for="new_name">Stylist New Name:</label><br>
                            <input type="text" name="new_name" value=""><br>
                            <button type="submit" name="update-stylist">Submit</button>
                        </form>
                        <h3>Add New Clients</h3>
                        <form action="/stylists/{{ stylist.getId }}" method="post">
                            <input type="hidden" name="stylist_id" value="{{ stylist.getId }}">
                            <label for="client_name">Clients name:</label><br>
                            <input type="text" name="client_name"><br>
                            <button type="submit" name="register-client">Submit</button>
                        </form>
                        <h3>Delete Stylist</h3>
                        <form action="/stylists/terminate/{{ stylist.getId }}" method="post">
                            <input name="_method" type="hidden" value="delete" required>
                            <button type="submit" class="btn button-danger" name="button">Delete This Stylist</button>
                        </form>
                        <!-- create form -->
                    </div>
                    <!-- jumbotron -->
                </div>
                <!-- right column -->
            </div>
            <!-- row -->
        </div>
    </body>
</html>
